@using LabWareTempoEDinheroFrontEnd.Models.DbModels
@model Timecontroltask
@{
    ViewData["Title"] = "Editar Registro de Tempo";
}
<div class="text-center">

    <h1 class="display-4">Editar o Registro de Tempo</h1>

</div>

<form asp-controller="TimeControlTask" asp-action="Update" method="post">
    <input type="hidden" asp-for="IdTimeControlTask" />
    <div class="form-group">
        <label for="IdTask">Id da Tarefa</label>
        <input type="text" asp-for="IdTask" class="form-control" placeholder="Digite o Id da Tarefa" readonly>
        @Html.ValidationMessageFor(x => x.IdTask)
    </div>
    <div class="form-group">
        <label for="StartTime">Start do Tempo</label>
        <input type="text" asp-for="StartTime" class="form-control" placeholder="Digite o Start do Tempo</">
        @Html.ValidationMessageFor(x => x.StartTime)
    </div>
    <div class="form-group">
        <label for="StopTime">Fim do Tempo</label>
        <input type="text" asp-for="StopTime" class="form-control" placeholder="Digite o Fim do Tempo</">
        @Html.ValidationMessageFor(x => x.StopTime)
    </div>
    <button type="submit" class="btn btn-primary btn-block">Alterar</button>
    <a class="btn btn-secondary btn-block" asp-controller="TimeControlTask" asp-action="Index" role="button">Voltar</a>
</form>



