@using LabWareTempoEDinheroFrontEnd.Models.Authorization
@model User 
@{
    ViewData["Title"] = "Tela de Login";
    Layout = "_LayoutLogin";
}
<div class="text-center">
    <br /><br /><br /><br />
    <h1 class="display-4" style="font-size:40px;">SEJA BEM VINDO!</h1>
    <h4 class="display-4" style="font-size:20px;">Faça Seu Login abaixo e desfrute e todas as nossas funcionalidades</h4>
    <br /><br />
    <form asp-controller="Login" asp-action="ValidateLogin" method="post">
      <div class="container">
            <label for="Email"><b>Username</b></label>
            <input type="text" asp-for="Email" placeholder="Insira seu Email" required>
        <br />
        <br />
            <label for="Password"><b>Password</b></label>
            <input type="Password" asp-for="Password" placeholder="Insira sua Senha" required>
        <br />
        <br />
        <button type="submit">Login</button>
      </div>
    </form>
</div>